@charset "UTF-8";

main {
    width: 480px;
    color: #444;
    
    text-align: center;
    margin: 80px auto;
}

main h1 {
    font-size: 36px;
    font-weight: 600;
}

table {
    border: 0;
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  th {
    border: solid 1px #111212;
    padding: 16px 8px;
    text-align: center;
  }
  td {
    border: solid 1px #080808;
    padding: 8px;
    color: #757575;
    text-align: center;
  }


main form {
    display: grid;
}

.form-data {
    text-align: left;
    margin-right: 80px;
    margin-top: 32px;
}

.form-input .input-area {
    height: 40px;
    background-color: #FFF;
    margin-top: 8px;

    display: flex;
    align-items: center;
}

.form-input .input-area input {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    padding: 0px 8px;
}
.btn-warning {
    color: #fff !important; /* 設置按鈕文字顏色為白色 */
    background-color: rgb(189, 84, 84) !important; /* 設置按鈕背景色為紅色 */
    border-color: rgb(189, 84, 84) !important; /* 設置按鈕邊框色為紅色 */
}

.btn-warning:hover {
    background-color: darkred !important; /* 懸停時設置更深的紅色 */
    border-color: darkred !important;
}



main form button {
    width: 60%;
    height: 40px;
    background-color: #444;
    border: 1px solid #444;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    margin: 64px auto 16px;
}

main form button:hover {
    background-color: #000;
    border: 1px solid #000;
    cursor: pointer;
}
.btn-warning:hover {
    position: relative; /* 這是為了給懸浮文字設定相對定位 */
}

.btn-warning:hover::after {
    content: "警示: " attr(data-tooltip) ", 檢體: " attr(data-specimen) ", 檢驗值: " attr(data-test-value);
    /* 這裡使用 attr(data-*) 來獲取對應的屬性值，並在每個屬性之間添加適當的分隔符號 */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
}

#scrollTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 20px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #3a9279; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size:25px;
}

#scrollTopBtn:hover {
    background-color: #777; /* Add a darker background on hover */
}

.date-box {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: none;
    width: 400px;
    height: 300px;
}

.active .date-box {
    display: block; /* 点击后显示 */
}