<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>詳細病歷</title>
    <head th:insert="~{load/css :: css}"></head>
    <link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>
    <section th:replace="~{load/header :: header}"></section>
    <section class="main-content">
        <div class="content">
    <main>
        <form id=detailsForm method="POST" th:action="@{/details}" enctype="multipart/form-data" autocomplete="off">
            <section class="form-data">
                <table>
                    
                </table>
            </section>
        </form>
    </main>   
    </div>
    </section>
    <section th:replace="~{load/footer :: footer}"></section>
</body>
</html>