<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>詳細病歷</title>
    <head th:insert="~{load/css :: css}"></head>
    <link rel="stylesheet" th:href="@{/css/details.css}">
</head>
<body>
    <section th:replace="~{load/header :: header}"></section>
    <section class="main-content">
        <div class="content">
    <main>
        <form id=detailsForm method="POST" th:action="@{/details}" enctype="multipart/form-data" autocomplete="off">
            <section class="form-data">
                <table>
                    <tr>
                        <th>身分證字號：</th>
                        <th> <span th:text="${patient.idNumber}"></span></th>

                        <th>姓名：</th>
                        <th> <span th:text="${patient.name}"></span></th>
                    </tr>

                    <tr>
                        <th>性別：</th>
                        <th> <span th:text="${patient.gender}"></span></th>
               
                        <th>出生年月日：</th>
                        <th> <span th:text="${patient.birthday}"></span></th>
                    </tr>
                </table>
                <a th:href="@{/timeline}" href="javascript: void(0)" class="btn">
                    <span>返回</span>
                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </a>
            </section>
        </form>
    </section>
        
    </main>   
    </div>
    </section>
    <section th:replace="~{load/footer :: footer}"></section>
</body>
</html>