<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>檢驗值折線圖</title>
    <head th:insert="~{load/css :: css}"></head>
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/darkly/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/timelinev.css}">
    <script th:replace="~{load/js :: js}"></script>
    <script th:src="@{/js/lib/jquery-3.4.1.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
   
</head>
<body>
    <section th:replace="~{load/iconHeader :: iconHeader}"></section>
    <section class="main-content">
        <div class="content">
            <main>
                <h1>基本資料及折線圖</h1>
                <section class="form-data">
                    <table>
                        <tr>
                            <th>身分證字號：</th>
                            <th><span th:text="${patient.idNumber}"></span></th>
                            <th>姓名：</th>
                            <th><span th:text="${patient.name}"></span></th>
                        </tr>
                        <tr>
                            <th>性別：</th>
                            <th><span th:text="${patient.gender}"></span></th>
                            <th>出生年月日：</th>
                            <th><span th:text="${patient.birthday}"></span></th>
                        </tr>
                    </table>
                </section>

                <div class="row">
                    <div class="col">
                        <label for="specimenType">選擇檢查項目：</label>
                        <select id="specimenType" name="specimenType">
                            <option value="尿">尿液檢查</option>
                            <option value="血液">血液檢查</option>
                            <option value="血脂肪">血脂肪檢查</option>
                            <option value="糖尿病">糖尿病檢查</option>
                            <option value="電解質">電解質檢查</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="testType">選擇檢驗值：</label>
                        <select id="testType" name="testType"></select>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <label for="startYear">起始年份：</label>
                        <select id="startYear" name="startYear"></select>
                    </div>
                    <div class="col">
                        <label for="endYear">結束年份：</label>
                        <select id="endYear" name="endYear"></select>
                    </div>
                    <div class="col">
                        <button type="button" id="filterTimeline">篩選</button>
                    </div>
                </div>
                

                <div class="row">
                    <canvas id="testValueChart"></canvas>
                </div>
                <div id="noDataMessage"></div>
            </main>
        </div>
    </section>

    <input type="hidden" id="patientIdNumber" th:value="${patient.idNumber}">

    <script th:inline="javascript">
    $(document).ready(function () {
        var currentYear = new Date().getFullYear();
        var startYearSelect = $('#startYear');
        var endYearSelect = $('#endYear');
        var allData = [];
        var testValueChart;

        function populateYearSelect(selectElement) {
            selectElement.append($('<option>', { value: 'all', text: '請選擇年份' }));
            for (var year = currentYear; year >= 1911; year--) {
                selectElement.append($('<option>', { value: year, text: year + "年" }));
            }
        }

        populateYearSelect(startYearSelect);
        populateYearSelect(endYearSelect);

        function initializeChart(data) {
            var ctx = document.getElementById('testValueChart').getContext('2d');
            testValueChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.map(function(v) { return v.time; }),
                    datasets: [{
                        label: '檢驗值',
                        data: data.map(function(v) { return v.testvalue; }),
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'month'
                            },
                            ticks: {
                                source: 'auto'
                            }
                        },
                        y: {
                            beginAtZero: true
                        }
                    },
                    maintainAspectRatio: false 
                }
            });
        }
        
        function updateChart(data) {
            testValueChart.data.labels = data.map(function(v) { return v.time; });
            testValueChart.data.datasets[0].data = data.map(function(v) { return v.testvalue; });
            testValueChart.update();
        }

        function populateTestTypeSelect(testTypeData) {
        var testTypeSelect = $('#testType');
        testTypeSelect.empty();
        testTypeData.forEach(function(testType) {
        if (testType !== null) {
            testTypeSelect.append($('<option>', { value: testType, text: testType }));
        }
        });
    }
    function updateTestTypeOptions(specimenType) {
        var testTypeData;
        if (specimenType === '尿') {
            testTypeData = ["RBC", "WBC"];
        } else if (specimenType === '血液') {
            testTypeData = ["WBC", "RBC", "HB", "MCV", "MVH", "MCHC", "PLT"];
        }else if(specimenType === '血脂肪'){
            testTypeData = ["Cholesterol", "TG", "HDL-C", "LDL-C", "Rist Factor", "V.L.D.L"];
        }else if(specimenType === '電解質'){
            testTypeData = ["Na", "K", "Cl", "Ca", "Phosphorus", "Mg", "Lithium"];
        }else if(specimenType === '糖尿病'){
            testTypeData = ["AC GLUCOSE", "PC GLUCOSE", "Fructosamine" ];
        }
        populateTestTypeSelect(testTypeData);
    }

    $('#specimenType').on('change', function () {
        var selectedSpecimen = $(this).val();
        updateTestTypeOptions(selectedSpecimen);
    });


        $.ajax({
            type: "GET",
            url: "/getListData",
            data: { idNumber: $('#patientIdNumber').val() },
            success: function (data) {
                console.log("Data received:", data);
                allData = data;
                initializeChart(allData);
                

                // // 提取orders字段并去重
                // // var testTypeData = [...new Set(allData.map(item => item.orders))];
                // // var testTypeData = ["RBC", "WBC", "protein", "bilirubin", "pH","blood","nitrite","glucose","ketone"];
                // populateTestTypeSelect(testTypeData);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error fetching data:", textStatus, errorThrown);
            }
        });

        $('#filterTimeline').on('click', function () {
            var selectedSpecimen = $('#specimenType').val();
            var selectedTestType = $('#testType').val();
            var startYear = $('#startYear').val();
            var endYear = $('#endYear').val();

            var filteredData = allData.filter(function(item) {
                var itemYear = new Date(item.time).getFullYear();
                return (startYear === 'all' || itemYear >= parseInt(startYear)) &&
                       (endYear === 'all' || itemYear <= parseInt(endYear)) &&
                       (selectedSpecimen === undefined || item.specimen === selectedSpecimen) &&
                       (selectedTestType === undefined || item.orders === selectedTestType);
            });

          
        if (filteredData.length === 0) {
        // 沒有符合的數據，顯示提示消息
        $('#noDataMessage').text('沒有符合的資料。');
        $('#testValueChart').hide();
         } else {
        // 有符合的數據，更新圖表
        $('#testValueChart').show();
        updateChart(filteredData);
        $('#noDataMessage').text('');
         }
        });
    });
    </script>
</body>
</html>