<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>病患時間軸</title>
    <head th:insert="~{load/css :: css}"></head>
    <link rel="stylesheet" th:href="@{/css/timeline.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/darkly/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/timelinev.css}">
    <script th:replace="~{load/js :: js}"></script>
    <script th:src="@{/js/timeline.js}"></script>
    <script th:src="@{/js/lib/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/jquery.timelinev.js}"></script>
</head>
<body>
    <section th:replace="~{load/header :: header}"></section>
    <section class="main-content">
        <div class="content">
            <main>
                <h1>基本資料及時間軸</h1>
                <form id="timelineForm" method="POST" th:action="@{/timeline}" enctype="multipart/form-data" autocomplete="off">
                    <section class="form-data">
                        <table>
                            <tr>
                                <th>身分證字號：</th>
                                <th><span th:text="${patient.idNumber}"></span></th>
                                <th>姓名：</th>
                                <th><span th:text="${patient.name}"></span></th>
                            </tr>
                            <tr>
                                <th>性別：</th>
                                <th><span th:text="${patient.gender}"></span></th>
                                <th>出生年月日：</th>
                                <th><span th:text="${patient.birthday}"></span></th>
                            </tr>
                        </table>
                    </section>
                </form>
                
                <div class="row">
                    <label>選擇類別：</label>
                    <div class="col-auto">
                        <input type="checkbox" id="selectAll" name="selectAll" checked>
                        <label for="selectAll">全選</label>
                    </div>
                    <div class="col-auto">
                        <input type="checkbox" id="O" name="type" value="門診" checked>
                        <label for="O">門診</label>
                    </div>
                    <div class="col-auto">
                        <input type="checkbox" id="E" name="type" value="急診" checked>
                        <label for="E">急診</label>
                    </div>
                    <div class="col-auto">
                        <input type="checkbox" id="I" name="type" value="住院" checked>
                        <label for="I">住院</label>
                    </div>
                    <div class="col-auto">
                        <input type="checkbox" id="L" name="type" value="檢驗" checked>
                        <label for="L">檢驗</label>
                    </div>
                    <div class="col-auto">
                        <input type="checkbox" id="X" name="type" value="檢查" checked>
                        <label for="X">檢查</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <label for="startYear">起始年份：</label>
                        <select id="startYear" name="startYear"></select>
                    </div>
                    <div class="col">
                        <label for="endYear">結束年份：</label>
                        <select id="endYear" name="endYear"></select>
                    </div>
                    <div class="col">
                        <label for="campus">選擇醫院院所：</label>
                        <select id="campus" name="campus"></select>
                    </div>
                    <div class="col">
                        <button type="button" id="filterTimeline">篩選</button>
                    </div>
                </div> 
            </main>  

            <div class="xxx">
                <div id="timeline" class="row">
                    <div class="timelineCont col-12" style="margin-top: 0px;" th:each="data : ${dataList}" th:data-campus="${data.campus}">
                        <div class="row">
                            <div th:id="${data.id}" th:department="${data.department}" class="date col-3"
                                th:classappend="${data.department == '門診' ? 'outpatient' : 
                                                 (data.department == '急診' ? 'emergency' : 
                                                 (data.department == '檢查' ? 'check' : 
                                                 (data.department == '檢驗' ? 'lab' : 
                                                 (data.department == '住院' ? 'inpatient' : ''))))}">
                                <h2>
                                    <img th:if="${data.department == '住院'}" th:src="@{/images/IPD.png}" />
                                    <img th:if="${data.department == '門診'}" th:src="@{/images/OPD.png}" />
                                    <img th:if="${data.department == '檢查'}" th:src="@{/images/RX.png}" />
                                    <img th:if="${data.department == '檢驗'}" th:src="@{/images/LAB.png}" />
                                    <img th:if="${data.department == '急診'}" th:src="@{/images/ER.png}" />
                                    <span th:id="${data.id}" th:department="${data.department}" th:text="${data.department} + ' ' + ${#dates.format(data.time, 'yyyy-MM-dd')}"></span>
                                </h2>
                            </div>
                            <div class="text col-4">
                                <p th:text="${data.department}"></p>
                                <a th:href="@{/details/{department}/{id}(department=${data.department},id=${data.id})}" class="btn btn-primary">查看詳細病歷</a>
                                <span th:if="${data.warning != null}" class="warning">
                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#warningModal1" th:attr="data-tooltip=${data.warning}, data-specimen=${data.specimen}, data-test-value=${data.testvalue}">警告</button>
                                    <h1 th:text="${data.warning}" style="display: none;"></h1>
                                </span>
                            </div>
                            <div class="date-container">
                                <div class="text col-5">
                                    <div th:id="'date-box-' + ${data.id}" class="date-box">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <button onclick="scrollToTop()" id="scrollTopBtn" title="返回頂部">↑</button>      
            </div>
        </div>   
    </section>
    <script>
        $(function(){
            $('#timeline').timelinev({
                containerDivs: '.timelineCont',
                dateDiv: '.date',
                textDiv: '.text',
                dateHtml: 'h2',
                textHtml: 'p',
                dateActiveClass: '.active',
            });
        });

        $(document).ready(function () {
            var currentYear = new Date().getFullYear();
            var startYearSelect = $('#startYear');
            var endYearSelect = $('#endYear');

            startYearSelect.append($('<option>', {
                value: 'all',
                text: '請選擇年份'
            }));
            endYearSelect.append($('<option>', {
                value: 'all',
                text: '請選擇年份'
            }));

            for (var year = currentYear; year >= 1911; year--) {
                startYearSelect.append($('<option>', {
                    value: year,
                    text: year + "年"
                }));
                endYearSelect.append($('<option>', {
                    value: year,
                    text: year + "年"
                }));
            }

            var campusSelect = $('#campus');
            campusSelect.append($('<option>', {
                value: 'all',
                text: '請選擇醫院院所'
            }));

            var campuses = [];
            $('.timelineCont').each(function () {
                var campus = $(this).attr('data-campus');
                if (campus && !campuses.includes(campus)) {
                    campuses.push(campus);
                    campusSelect.append($('<option>', {
                        value: campus,
                        text: campus
                    }));
                }
            });
        });

        $('#filterTimeline').on('click', function () {
            var startYear = $('#startYear').val();
            var endYear = $('#endYear').val();
            var selectedTypes = [];
            var selectedCampus = $('#campus').val();

            $('input[name="type"]:checked').each(function () {
                selectedTypes.push($(this).val());
            });

            $('.timelineCont').hide();

            $('.timelineCont').filter(function () {
                var itemDate = $(this).find('.date h2 span').text().trim();
                var itemYear = new Date(itemDate).getFullYear();
                var itemType = $(this).find('.text p').text().trim();
                var itemCampus = $(this).attr('data-campus');
                return (
                    (startYear === 'all' || itemYear >= parseInt(startYear)) &&
                    (endYear === 'all' || itemYear <= parseInt(endYear)) &&
                    (selectedTypes.length === 0 || selectedTypes.includes(itemType)) &&
                    (selectedCampus === 'all' || selectedCampus === itemCampus)
                );
            }).show();
        });

        $('#selectAll').change(function () {
            $('input[name="type"]').prop('checked', $(this).prop('checked')).trigger('change');
        });

        $('input[name="type"]').change(function () {
            var selectedTypes = $('input[name="type"]:checked').map(function () { return $(this).val(); }).get();
            $('#selectAll').prop('checked', selectedTypes.length === $('input[name="type"]').length);

            if (selectedTypes.length === $('input[name="type"]').length) {
                $('.timelineCont').show();
            } else {
                $('.timelineCont').hide();
                selectedTypes.forEach(function (type) {
                    $('.timelineCont:contains("' + type + '")').show();
                });
            }
        });

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            var scrollTopBtn = document.getElementById("scrollTopBtn");
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollTopBtn.style.display = "block";
            } else {
                scrollTopBtn.style.display = "none";
            }
        }

        function scrollToTop() {
            var scrollToTopInterval = setInterval(function() {
                var scrollToTopBtn = document.getElementById("scrollTopBtn");
                var currentPosition = document.documentElement.scrollTop || document.body.scrollTop;
                if (currentPosition > 0) {
                    window.scrollBy(0, -50);
                } else {
                    clearInterval(scrollToTopInterval);
                }
            }, 10);
        }
    </script>

    <section th:replace="~{load/footer :: footer}"></section>
</body>
</html>
